/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flexato{
    display: flex;
}

.container-80{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ButNO{
    padding: 5px;
    border-radius: 7px;
}

/* Elementi */

/* Elementi header */

nav>section{
    justify-content: space-between;
}

nav section ul li{
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    display: inline-block;
}

nav{
    background-color: blue;
}

.A{
    background-color: #fff;
    color: black;
}

.B{
    background-color: #332d2d;
    color: #fff;
    margin-left: 10px;
}


nav ul, nav div{
    padding: 10px 0;
}

.testa{
    background-image: url(../image/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.testohead{
    width: 30%;
    padding-top: 100px;
    text-align: center;
    color: #fff;
}

div>h2{
    margin: 20px 0;
}

.ButHead{
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}



/* Elementi main */

.first{
    width:70%;
}

.second{
    width: 30%;
    text-align: left;
}

.waveone{
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 50px;
}

.mainHead{
    align-items: center;
}

.onda{
    background-color: aquamarine;
}

#prefooter>h2{
    display: inline;
}

.wavetwo{
    width: 100%;
    height: 50px;
    display: block;
    transform: rotate(180deg);
    margin-bottom: 50px;
}


#prefooter{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.conclu{
    justify-content: center;
}

.C{
    background-color: blue;
    color: #fff;
    display: inline;
}

.stelline{
    justify-content: center;
    padding: 30px;
}

.back{
    background-image: url(../image/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Elementi Footer */

footer{
    background-color: rgb(72, 55, 55);
    padding-top: 50px;
}


.lingua{
    width: 20%;
}


.contatti{
    width: 80%;
}

.lingua div h2,
.columns ul:first-child{
    color: blue
}

.columns{
    width: calc(100% / 4);
}

.columns ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
}

br{
    color: #fff;
    margin: 100px 0;
    height: 2px;
    width: 100%;
}


.finaleuno{
    justify-content: flex-start;
    padding-top: 50px;
}

.finaledue{
    justify-content: flex-end;
}